
@import "fonts";

body {
  // just for dev-------
  background-color: #000;
  color: #fff;
  //--------------------

}

.container {
  width: 1270px;
  margin: 0 auto;
}

@import "header";
@import "banner";
