@import "reset";
@import "fonts";

body {
  // just for dev-------
  background-color: #000;
  color: #fff;
  //--------------------

}

.container {
  width: 1024px;
  margin: 0 auto;
  height: inherit;
}

@import "header";
@import "banner";
